html {
    background-color: beige;
}
body {
    line-height: 10px;
    font-family: 'Lucida Sans' ;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: green;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
    font-style: italic;
}
ul {
    line-height: 35px;
    color: #d400ff;
    font-style: oblique;
}
